<div class=" center-bloc" >
    <h2>Condition d'entrée & Information sanitaires</h2>
    <div class=" link_conditions_sanitaires">
    <li></li><a target="_blank" href="https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays-destination/italie/">Condition d'entrée</a><br>
   </div>
   <div class=" link_conditions_sanitaires">
    <li></li><a target="_blank" href="https://www.diplomatie.gouv.fr/fr/conseils-aux-voyageurs/conseils-par-pays-destination/italie/#sante">Information sanitaires</a>
    </div>
</div>
