h2{
    color: #FF715B;  
    margin-bottom:1em;
}

a{
    color: black;
    font-size: 1.3em;
}

li{
    font-size: 2em;
    color:#7678ED;
}

.link_conditions_sanitaires{
    display: flex;
    align-items: center;
}