<div class="container-todo">
    <!-- CREATE -->
    <div *ngIf="addForm">
      <!-- <button class="btn-add-todo" (click)="create()">Annuler</button> -->
      <app-todolist-form ></app-todolist-form>
    </div>

    <!-- LIST -->

    <div *ngIf="!addForm">
      <button class="btn-add-todo" (click)="create()">Nouvelle todolist</button>

      <div *ngIf="!modify">
        <div
          class="container-list"
          *ngFor="let todolist of todolists; let i = index"
          (click)="onSelect(todolist)"
        >
          <p class="delete-todo">
            <a (click)="deleteTodolist(todolist.id)">X</a>
          </p>

          <!-- show infos -->
          <div>
            <p>{{ todolist.title }}:</p>
            <p>{{ todolist.content }}</p>

            <p class="update-todo">
              <a class="link-update" (click)="todolistUpdate()">Modifier</a>
            </p>
          </div>
        </div>
      </div>

      <!-- show input to modify -->
      <!-- <div *ngIf="modify">
        <form
          class="container-todo"
          [formGroup]="formUpdate"
          (ngSubmit)="saveUpdate()"
        >
          <input
            type="text"
            class="space"
            [(ngModel)]="title"
            placeholder="TITRE"
          />

          <textarea
            type="text"
            class="space"
            [(ngModel)]="content"
            content="content"
            placeholder="DESCRIPTION"
          ></textarea>

          <button (click)="saveUpdate()" class="btn-submit space" type="submit">
            Modifier
          </button>
        </form>
      </div>
    </div> -->

  
</div>
