.container-todo {
    margin: 8vw;
  }
  .container-list {
    background-color: rgb(212, 212, 212);
    border-radius: 8px;
    margin: 2vw;
    padding: 0.8vw;
    color: rgb(58, 58, 58);
    position: relative;
  }
  
  p {
    margin: 0.8em;
  }
  
  .delete-todo {
    position: absolute;
    top: -0.4em;
    right: -0.42em
  }
  
  .update-todo {
    font-weight: bold;
    text-align: center;
  }
  
  .link-update {
    text-decoration: none;
    color: #7A78E9;
  }
  
  .btn-add-todo {
    background-color: #7A78E9;
    color: white;
    border-radius: 24px;
    border: none;
    width: 40vw;
    height: 6vh;
    font-size: 2vh;
    align-self: center;
    margin:0 auto;
    display:block;
  }