.navbar-profil {
    padding: 1em;
}

.form-container {
    color: black;
    height: 100vh;
    font-size: 5vw;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}