 <div *ngIf="personnage"  lass="d-flex flex-column">
    <p> detail du personnage {{personnage.id}} </p>
	<h3 class="mb-20">{{ personnage.name }}</h3>
	<p class="mb-20">{{ personnage.key }}</p>
	
	
</div>
 

<!-- "title": "the Monkey King",
"id": 62,
"key": "MonkeyKing",
"name": "Wukong",
"active": true -->


<!-- <div class="d-flex flex-row flex-justify-content-between">
		<button routerLink="edit" class="btn btn-primary">Editer </button>
		<button class="btn btn-primary" (click)="addToPanier()">Ajouter </button>
	</div>  -->