.map-container{
    height: 50vh;
    width: 100vw;
}

#map{
    height: 50vh;
    width: 100%;
}

.sidebar {
    position: absolute;
    margin: 20px 20px 30px 20px;
    width: 25%;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
  }