.formGroupe {
    margin-bottom: 10vw;
    justify-content: center;
}

.btnSubmit {
    display: block;
    width: auto;
    padding: 4vw 8vw;
    border: 3px solid #7678ED;
    border-radius: 999px;
    background-color: #7678ED;
    background-size: 200%; 
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.65);
    color: black;
    font-size: 5vw;
    font-weight: 500;
}