
    <div class=" center-bloc">
        <h2>Mots Clés</h2>
        <small><strong>Benvenuto</strong> : Bienvenue</small><br>
        <small><strong>Arrivederci</strong> : Au revoir</small><br>
        <small><strong>Scusi/Per favore</strong> : Excusez-moi/SVP</small><br>
        <small><strong>Quanto costa ?</strong> : C’est combien ?</small><br>
        <small><strong>orrei comprare...che, di questo !</strong> : Je voudrais acheter … ça, celui-ci !</small><br>
        <small><strong>Sono in vacanza / in viaggio</strong> : Je suis ici en vacances / en voyage</small><br>
        <small><strong>Cosa mi consiglia ?</strong> : Qu’est-ce que vous me recommandez?</small><br>
        <small><strong>C’est trop cher !</strong> : E troppo caro !</small><br>
    </div>