
    <div class=" center-bloc">
        <h2>Mots Clés</h2>
        <small><strong>ohayou gozaimasu</strong> : aligato (s'utilise avant midi)</small><br>
        <small><strong>konichia</strong> : bonjour(s'utilise après midi)</small><br>
        <small><strong>konbanha</strong> : bonsoir</small><br>
        <small><strong>sayonara</strong> : au revoir</small><br>
        <small><strong>mata ne</strong> : à plus (à utiliser entre amis)</small><br>
        <small><strong>watashi ha</strong> : (le"a" se prononce "oua") Je suis</small><br>
        <small><strong>wtashi ha Jean desu</strong> : Je suis Jean</small><br>
        <small><strong>yoroshiku onegai shimasu</strong> : (ceci est une marque de politesse après la présentation, cela veut dire en quelque sorte " je m'en remets à vous", inutile de l'utiliser dans la rue</small><br>
    </div>