<div class="box">
    <h3><strong>INSCRIPTION</strong></h3>

    <form class="formBloc">

        <div class="formGroupe">

            <label for="nom">Nom</label>
            <input type="text" id="nom" required minlength="3" maxlength="16">

        </div>

        <div class="formGroupe">

            <label for="prenom">Prenom</label>
            <input type="text" id="prenom" required minlength="3" maxlength="16">

        </div>

        <div class="formGroupe">

            <label for="email">Email</label>
            <input type="text" id="email" required minlength="3" maxlength="30">

        </div>

        <div class="formGroupe">

            <label for="mdp">Mot de passe</label>
            <input type="text" id="mdp" required minlength="3" maxlength="16">

        </div>

        <div class="formGroupe">

            <label for="date-naissance">Date de naissance</label>
            <input type="date" id="date-naissance" required>

        </div>
    </form>
</div>