<div class="box">
    <h3><strong>INSCRIPTION</strong></h3>

    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="formBloc">

        <div class="formGroupe">
            <label for="prenom">Prenom</label>
            <input formControlName="firstName" type="text" id="nom" required minlength="3" maxlength="16">
        </div>

        <div *ngIf="userForm.get('firstName')!.invalid && userForm.get('firstName')!.touched">

        </div>


        <div class=" formGroupe">

            <label for="prenom">Nom</label>
            <input formControlName="lastName" type="text" id="prenom" required minlength="3" maxlength="16">

        </div>

        <div class="formGroupe">

            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" required minlength="3" maxlength="30">

        </div>

        <div class="formGroupe">

            <label for="mdp">Mot de passe</label>
            <input placeholder="Minimum 6 caractères" formControlName="password" type="password" id="mdp" required
                minlength="3" maxlength="16">

        </div>

        <div class="formGroupe">

            <label for="date-naissance">Date de naissance</label>
            <input formControlName="birthday" type="date" id="date-naissance" required>

        </div>
        <div class="btnSubmit">
            <button [disabled]="!this.userForm.valid" pButton type="submit"
                label="VALIDER"></button>
        </div>

    </form>
</div>