.container-budget {
    display: flex;
    flex-direction: column;
    margin: 2vw;
  }
  
  .p-orange {
    font-weight: bold;
    color: #FF715B;
    font-size: 1.2em;
  }
  
  .amount {
    font-weight: bold;
    color: #7A78E9;
    text-align: end;
    font-size: 1.5em;
    margin-bottom: 0.1em;
  }
  
  .container-budget {
    display: flex;
    flex-direction: column;
  }
  
  .item-select {
    font-size: 16px;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #7D7B7B;
    color: #5F5F5F;
  }
  
  select {
    font-size: 16px;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #7D7B7B;
    color: #5F5F5F;
  }
  
  .btn-submit {
    background-color: #7A78E9;
    color: white;
    border-radius: 24px;
    border: none;
    width: 40vw;
    height: 6vh;
    font-size: 2vh;
    align-self: center;
  }
  
  .space {
    margin: 8vw;
  }
  
  input {
    font-size: 16px;
    outline: 0;
    border-width: 0 0 0.1vw;
    border-color: #7D7B7B;
    color: #5F5F5F;
  }