.user-icon {
    padding: 2vw 20vw 2vw 20vw;
    text-align: center;
    letter-spacing: 0.5vw;
    margin-bottom: 4.1em;
    margin-top: 1.3em;
}

.formBloc .formGroupe {
    position: relative;
    display: flex;
    margin-bottom: 10vw;
}

.formBloc .formGroupe label {
    position: absolute;
    left: 0px;
    transform: translateY(-50%);
    color: black;
    font-size: 5vw;
    transition: 0.4s ease-out;
}

.formBloc .formGroupe input {
    display: block;
    width: 100%;
    padding-top: 2vw;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid black;
    color: black;
    transition: 0.4s ease-out;
}

.formBloc .formGroupe:focus-within label,
.formBloc .formGroupe.animation label {
    top: 0px;
    transform: translateY(-100%);
    color: grey;
}

.formBloc .formGroupe:focus-within input,
.formBloc .formGroupe.animation input {
    border-bottom-color: grey;
}

.btnSubmit {
    padding: 1em;
    margin-bottom: 4.3em;
    text-align: center;
}

.formBloc .formGroupe input.ng-invalid.ng-touched{
    display: block;
    width: 100%;
    padding-top: 2vw;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid rgb(245, 55, 55);
    color: #FFF;
    transition: 0.4s ease-out;
}