.notYetSignin a{
    font-size: 5vw;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: white;
}

.notYetSignin {
    padding-top: 2em;
}