<div class="body_info">
<app-header-information (cityOpen)="cityTitleOpen($event)" ></app-header-information>
<app-affichage-information (envoiId)="nameDestination($event)"></app-affichage-information>
<app-lien-information (cityHidden)="hideInfoCity($event)" (countryHidden)="hideInfoCountry($event)">
</app-lien-information>

<h1>{{country}}</h1>
<!-- Part Country -->
<app-information-country-title *ngIf="infoCountryTitle"  (condition)="conditionGenerale($event)" (motcles)="traduction($event)"></app-information-country-title>
<app-condition-general-country [countrie]="countrie" *ngIf="conditionGeneral"></app-condition-general-country>
<app-mots-cles *ngIf="motcles"></app-mots-cles>

<!-- Part City-->
<app-information-city-title *ngIf="infoCityTitle"(infoCity)="infoCityGenerale($event)" (hour)="timeCity($event)" (sun)="weatherCity($event)" (car)="transportCity($event)"></app-information-city-title>
<app-info-generale-city *ngIf="infoGeneraleCity" ></app-info-generale-city>
<app-time [timezone]="selectedWeather" [name]="country"*ngIf="time"></app-time>

<app-weather [oneCount]="selectedCountry" [weather]="selectedWeather" *ngIf="weather"></app-weather>
</div>
<footer class="footer_info">
    <app-footer ></app-footer>
</footer>


