nav {
    background: white;
    color: var(--primary);
    .logo {
      font-size: 18px;
      font-weight: 700;
    }
  }

 
  .fa-user {
      padding: 10px 20px;
      display: inline-block;
      border-radius: 3px;
      cursor: pointer;

  }

  