/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$roadtrip-primary: mat.define-palette(mat.$indigo-palette);
$roadtrip-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$roadtrip-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$roadtrip-theme: mat.define-light-theme((
  color: (
    primary: $roadtrip-primary,
    accent: $roadtrip-accent,
    warn: $roadtrip-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($roadtrip-theme);
  
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeng/resources/primeng.min.css";


html {
  margin : 0 ;
  padding: 0;
}
/* ICONE PRINCIPAL */

.svg-inline--fa {
    font-size: 3em;
}

.header-auth {
    padding: 4vw;
}

.red-marker{
  background-color: #434791;
  width: 28px;
  height: 28px;
  border-radius: 16px;
}

.blue-marker{
  width: 28px;
  height: 28px;
  border-radius: 16px;
  background-color: rgba(60, 39, 248, 0.904); 

}


// 

.debug-b{
  border-bottom:1px solid var(--primary); 

}


.height-full{
  height: 87vh;
}




/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  input{
    border:1px solid #ddd;
    border-radius: 3px;
    padding: 8px 15px;
  
  }
  
  .font-cursive{
    font-family: cursive;
    font-weight: 800;
  }


  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  :root {
    --font-family: "Poppins", sans-serif;
    --primary: #FF715B;
    --secondary: #778beb;
    --accent: #e5546d;
    --lightgray: #ddd;
    --text-regular: #444;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text-regular);
  }
  
  .active{
    background-color: var(--secondary);
  }
  
  
  
  // layout
  
  .container {
    display: block;
    margin: auto 10vw;
    padding: 20px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-justify-content-center {
    justify-content: center;
  }
  
  .flex-justify-content-between {
    justify-content: space-between;
  }
  
  .flex-align-items-center {
    align-items: center;
  }
  
  .flex-align-items-between {
    align-items: space-between;
  }
  
  .flex-fill {
    flex: 1 1 auto;
  }
  
  .flex-50 {
    flex: 1 1 50%;
  }

  .flex-30 {
    flex: 1 1 30%;
  }
  
  // utils
  
  .p-10 {
    padding: 10px;
  }
  
  .p-20 {
    padding: 20px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .m-10 {
    margin: 10px;
  }
  
  .m-20 {
    margin: 20px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  .mr-10{
    margin-right: 10px;
  }
  
  hr{
    margin : 20px 0px;
    border-top: 1px solid #ddd;
  }
  
  .mb-30{
    margin-bottom: 30px;
  }

  .mb-6{
    margin-bottom: 6vw;
  }
  
  // theme
  .list-primary-action {
    li {
      padding: 10px 15px;
      border: 1px solid var(--lightgray);
      border-top: 0;
      &:hover {
        background-color: var(--primary);
        color: white;
        cursor: pointer;
      }
      transition: background-color 0.4s;
    }
  }
  
  .list-primary {
    li {
      padding: 10px 15px;
      border: 1px solid var(--lightgray);
      border-top: 0;
      cursor: pointer;
  
    }
    li:first-child {
      border-top: 1px solid var(--lightgray);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  
  .badge {
    background-color: var(--secondary);
    border-radius: 3px;
    padding: 2px 5px;
    color: white;
    font-size: 12px;
    font-weight: 500;
  }
  
  
  
  .btn {
    padding: 10px 15px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    &-secondary{
      background-color: #ddd;
        &:hover {
          background-color: rgb(189, 148, 148);
        }
    }
    &-third{
      background-color: rgb(59, 145, 102); 
      &:hover {
        background-color: rgb(140, 189, 164);
      }
  }
    &-primary {
      background-color: var(--primary);
      color: white;
      &:hover {
        background-color: var(--secondary);
      }
      transition: background-color 0.4s;
    }
  }
  
  //debug
  
  .d1 {
    border: 1px solid red;
  }
  
  .d2 {
    border: 1px solid green;
  }
  
  
  // form : 
  
  .form-group{
    padding: 8px 15px;
    margin-bottom: 2vh;
    border-bottom: 1px solid #725454;
    padding-bottom: 0;
    input {
      font-weight: 500;
      border: 1px solid #fff;
      color: #9e9393;
      font-size: 5vw;
      padding-left: 0;
      position: relative;
      left: -10px;
      &:focus{
        border: none;
      }

    }
  }

  .title{
    color: grey;
    font-weight: 900;
    font-size: 7vw;
  }

  .mt-4{
    margin-top: 4vh;
  }

  .btn-form{
    background-color: white;
    color: var(--primary);
    transition: background-color 0.4s;
    font-size: 6vw;
    padding-left: 0;
  }



// Header Information
*{ 
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.nav{
    height:7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
}

.faArrowLeft{
    color:7D7B7B;
    margin-left:2vh;
}

.faUser{
    margin-right: 2vh;
    color:#FFFFFF;
    stroke: #FF715B;
    stroke-width: 30;
}

//Affichage information
.header-top{
    height:25vh;
    position:relative;
}
.overlay{
    position:absolute;
    z-index: 2;
    width:100%;
    height:25vh;
    opacity: 0.6;
    background: linear-gradient(#7A78E9, #FF715B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccff0000",endColorstr="#8500578",GradientType=1);
}

.affichage_information{
    height:25vh;
    z-index:2;
    background-image: url("https://images.unsplash.com/photo-1542820229-081e0c12af0b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1473&amp;q=80");
    background-size: cover;
}
.holiday_text{
    position: relative;
    margin:0.5;
    padding-top:1.5em;
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.holiday_date{
    position: relative;
    margin:0;
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.img_bg_header{
    height:25vh;
}

//Lien information

ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    padding :2vh 7vh 2vh 7vh;
    margin-bottom: 2vh;
}

li:hover{
    border-bottom:1px solid black;
}

//page information
.center-bloc{
    margin: 5vh 10vw 2vh 15vw;

}

a{
    font-size:3vh;
    color:#FF715B;
    text-decoration: none;
}

p{
    margin-bottom : 3vh;
}


.div_overlay{
    position:absolute;
    z-index: 2;
    width:90vw;
    height:20vh;
    border-radius: 1.5em;
    opacity: 0.55;
    background: linear-gradient(#7A78E9, #FF715B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccff0000",endColorstr="#8500578",GradientType=1);
}

.div_affichage{
    width:90vw;
    height:20vh;
    margin-left:auto;
    margin-right:auto;
    border-radius: 1.5em;
    z-index:2;
    background-image: url("https://www.capital.fr/imgre/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2020.2F03.2F20.2F4967db41-3d3d-4c01-92d9-25bb18ba8a58.2Ejpeg/790x395/background-color/ffffff/quality/70/le-japon-lance-un-plan-de-relance-colossal-de-son-economie-face-a-la-crise-du-covid-19-1388000.jpg");
    background-size: cover;
}

.image_backround{
    width:80vw;
    height:20vh;
    border-radius: 1.5em;
}



.stage_text{
    position: relative;
    padding-top:1em;
    margin:0em;
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.stage_time{
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5em;
    margin:0;
    
    font-weight: bold;
}

.stage_date{
    position: relative;
    margin:0;
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}



.icone_weather{
    position: relative;
    float:right;
    z-index: 2;
    margin-top:2em;
    margin-right: 1em;
    width: 7em;
}


/* RESET */

*, ::before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Poppins", sans-serif;
}

/* ICONE PRINCIPAL */

.svg-inline--fa {
    font-size: 2.5em;
}

.header-auth {
    padding: 4vw;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FF715B;
    color: white;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-bottom: 0;
    position: absolute;
    width:100%;
}





.fa-heart, .fa-map-marker-alt, .fa-location-arrow {
    color: #FF715B;
    stroke: #FFFFFF;
    stroke-width: 50;
}


.svg-inline--fa {
     font-size: 2.5em;
    

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// tabview css - select bar (manage-trip)
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #5F5F5F;
}

.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none; 
}

.mat-tab-label .mat-tab-label-content {
  color: #5F5F5F;
}

.mat-tab-labels {
  justify-content: center;
}