/* You can add global styles to this file, and also import other style files */

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


html {
  margin : 0 ;
  padding: 0;
}
/* ICONE PRINCIPAL */

.svg-inline--fa {
    font-size: 3em;
}

.header-auth {
    padding: 4vw;
}



// 

.debug-b{
  border-bottom:1px solid var(--primary); 

}


.height-full{
  height: 87vh;
}




/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  input{
    border:1px solid #ddd;
    border-radius: 3px;
    padding: 8px 15px;
  
  }
  
  .font-cursive{
    font-family: cursive;
    font-weight: 800;
  }


  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  :root {
    --font-family: "Poppins", sans-serif;
    --primary: #FF715B;
    --secondary: #778beb;
    --accent: #e5546d;
    --lightgray: #ddd;
    --text-regular: #444;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text-regular);
  }
  
  .active{
    background-color: var(--secondary);
  }
  
  
  
  // layout
  
  .container {
    display: block;
    margin: auto 10vw;
    padding: 20px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-justify-content-center {
    justify-content: center;
  }
  
  .flex-justify-content-between {
    justify-content: space-between;
  }
  
  .flex-align-items-center {
    align-items: center;
  }
  
  .flex-align-items-between {
    align-items: space-between;
  }
  
  .flex-fill {
    flex: 1 1 auto;
  }
  
  .flex-50 {
    flex: 1 1 50%;
  }

  .flex-30 {
    flex: 1 1 30%;
  }
  
  // utils
  
  .p-10 {
    padding: 10px;
  }
  
  .p-20 {
    padding: 20px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .m-10 {
    margin: 10px;
  }
  
  .m-20 {
    margin: 20px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  .mr-10{
    margin-right: 10px;
  }
  
  hr{
    margin : 20px 0px;
    border-top: 1px solid #ddd;
  }
  
  .mb-30{
    margin-bottom: 30px;
  }

  .mb-6{
    margin-bottom: 6vw;
  }
  
  // theme
  .list-primary-action {
    li {
      padding: 10px 15px;
      border: 1px solid var(--lightgray);
      border-top: 0;
      &:hover {
        background-color: var(--primary);
        color: white;
        cursor: pointer;
      }
      transition: background-color 0.4s;
    }
  }
  
  .list-primary {
    li {
      padding: 10px 15px;
      border: 1px solid var(--lightgray);
      border-top: 0;
      cursor: pointer;
  
    }
    li:first-child {
      border-top: 1px solid var(--lightgray);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  
  .badge {
    background-color: var(--secondary);
    border-radius: 3px;
    padding: 2px 5px;
    color: white;
    font-size: 12px;
    font-weight: 500;
  }
  
  
  
  .btn {
    padding: 10px 15px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    &-secondary{
      background-color: #ddd;
        &:hover {
          background-color: rgb(189, 148, 148);
        }
    }
    &-third{
      background-color: rgb(59, 145, 102); 
      &:hover {
        background-color: rgb(140, 189, 164);
      }
  }
    &-primary {
      background-color: var(--primary);
      color: white;
      &:hover {
        background-color: var(--secondary);
      }
      transition: background-color 0.4s;
    }
  }
  
  //debug
  
  .d1 {
    border: 1px solid red;
  }
  
  .d2 {
    border: 1px solid green;
  }
  
  
  // form : 
  
  .form-group{
    padding: 8px 15px;
    margin-bottom: 2vh;
    border-bottom: 1px solid #725454;
    padding-bottom: 0;
    input {
      font-weight: 500;
      border: 1px solid #fff;
      color: #9e9393;
      font-size: 5vw;
      padding-left: 0;
      position: relative;
      left: -10px;
      &:focus{
        border: none;
      }

    }
  }

  .title{
    color: grey;
    font-weight: 900;
    font-size: 7vw;
  }

  .mt-4{
    margin-top: 4vh;
  }

  .btn-form{
    background-color: white;
    color: var(--primary);
    transition: background-color 0.4s;
    font-size: 6vw;
    padding-left: 0;
  }