<div class="container-conv">
  <input class="space" type="text" placeholder="MONTANT">
  
  <div class="container-select">
    <div class="item-select">
      <select name="" id="" class="space">
        <option value="">DE</option>
        <option value="">EUR</option>
        <option value="">USD</option>
        <option value="">JPY</option>
        
      </select>
      <select name="" id="" class="space">
        <option value="">VERS</option>
        <option value="">EUR</option>
        <option value="">USD</option>
        <option value="">JPY</option>
      </select>
    </div>
  </div>
  
  <button class="btn-submit space" type="submit">Convertir</button>
</div>